@use '../../styles/mixins' as mixins;

.main {
  display: flex;
  flex-direction: column;
  row-gap: 7.5em;
  padding: 5.625em clamp(2em, 10vw, 5.17em) 10em;

  @include mixins.responsive('xxs') {
    padding: 5.625em 1em 10em;
  }
}

.intro {
  font-size: 1.5em;
}

.greeting {
  display: inline-block;
  margin-bottom: 1.2em;
}

.textContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1.2em;
}

.contentBlockText {
  line-height: 1.6;
}

.textLink {
  text-decoration: underline;

  &:hover {
    color: #b8b8b8;
  }

  &:focus-visible {
    outline: 2px solid #d10404;
    outline-offset: 5px;
  }
}

.procharityLink {
  transition: color 0.1s linear;
  &:hover {
    color: #7dcdd7;
  }
}

.githubLink {
  transition: color 0.05s linear;
  &:hover {
    color: #d10404;
  }
}

.nodeAccent {
  color: #6ebc4d;
}
.expressAccent {
  color: #b4b4b4;
}
.postgreSQLAccent {
  color: #336791;
}
.nextAccent {
  color: #cccccc;
}
.lwcAccent {
  color: #a02ad8;
}
.zustandAccent {
  color: #ef941d;
}

.stackList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.67em;
  row-gap: 1.25em;
}

.stackItem {
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  padding: 0.7em 0.87em;
  line-height: 1;

  &.html {
    color: #dd4b25;
    background-color: rgba(221, 75, 37, 0.1);
  }

  &.css {
    color: rebeccapurple;
    background-color: rgba(102, 51, 153, 0.1);
  }

  &.js {
    color: #efd81d;
    background-color: rgba(239, 216, 29, 0.1);
  }

  &.ts {
    color: #1d51ef;
    background-color: rgba(29, 81, 239, 0.1);
  }

  &.sass {
    color: #c66394;
    background-color: rgba(198, 99, 148, 0.1);
  }

  &.react {
    color: #61dafb;
    background-color: rgba(97, 218, 251, 0.1);
  }

  &.redux {
    color: #764abc;
    background-color: rgba(118, 74, 188, 0.1);
  }

  &.zustand {
    color: #ef941d;
    background-color: rgba(239, 148, 29, 0.1);
  }

  &.storybook {
    color: #ff4785;
    background-color: rgba(255, 71, 132, 0.1);
  }

  &.webpack {
    color: #1c78c0;
    background-color: rgba(28, 121, 192, 0.1);
  }

  &.vite {
    color: #9721ff;
    background-color: rgba(151, 33, 255, 0.1);
  }

  &.next {
    color: #cccccc;
    background-color: rgba(204, 204, 204, 0.1);
  }

  &.mui {
    color: #047dff;
    background-color: rgba(4, 125, 255, 0.1);
  }

  &.pixi {
    color: #e72264;
    background-color: rgba(231, 34, 100, 0.1);
  }

  &.lwc {
    color: #a02ad8;
    background-color: rgba(161, 42, 216, 0.1);
  }

  &.express {
    color: #b4b4b4;
    background-color: rgba(180, 180, 180, 0.1);
  }

  &.node {
    color: #6ebc4d;
    background-color: rgba(110, 188, 77, 0.1);
  }

  &.reactRouter {
    color: #f94949;
    background-color: rgba(249, 73, 73, 0.1);
  }

  &.git {
    color: #dcdcdc;
    background-color: rgba(220, 220, 220, 0.1);
  }

  &.postgreSQL {
    color: #336791;
    background-color: rgba(51, 103, 145, 0.1);
  }

  &.restAPI {
    color: #a6ceff;
    background-color: rgba(166, 206, 255, 0.1);
  }

  &.jest {
    color: #944058;
    background-color: rgba(148, 64, 88, 0.1);
  }

  &.rtl {
    color: #ea1b28;
    background-color: rgba(234, 27, 41, 0.1);
  }

  &.cypress {
    color: #26e99c;
    background-color: rgba(38, 233, 155, 0.1);
  }

  &.nest {
    color: #ea2857;
    background-color: rgba(234, 40, 89, 0.1);
  }

  &.mongo {
    color: #01ed64;
    background-color: rgba(1, 237, 99, 0.1);
  }

  &.mongoose {
    color: #880000;
    background-color: rgba(136, 0, 0, 0.1);
  }

  &.sequelize {
    color: #3b76c3;
    background-color: rgba(59, 118, 195, 0.1);
  }

  &.zod {
    color: #44a4ff;
    background-color: rgba(68, 165, 255, 0.1);
  }

  &.passport {
    color: #35df79;
    background-color: rgba(53, 223, 121, 0.1);
  }

  &.supertest {
    color: #cb3837;
    background-color: rgba(203, 55, 55, 0.1);
  }

  &.docker {
    color: #1d63ed;
    background-color: rgba(29, 98, 237, 0.1);
  }
}

.noteText {
  display: block;
  font-size: 0.75em;
}

.stackNote {
  margin-top: 2.22em;
}

.preferencesList {
  display: flex;
  flex-direction: column;
  row-gap: 1.25em;
  list-style-position: inside;
  .preferenceItem::marker {
    content: counter(list-item) ') ';
  }
}

.preferenceItem {
  white-space: preserve nowrap;
}

.preferenceContainer {
  display: inline-flex;
  flex-direction: column;
  row-gap: 0.625em;
  white-space: normal;
}

.preferenceText {
  text-decoration: underline;
}

.deprecatedSubtitle {
  font-size: 1em;
  padding: 0.5em 0;
  margin: 2.5em 0 0em 0;
  display: inline-block;
  color: #5c0303;
  // background-color: #35020269;
}

.deprecatedStack {
  font-size: 0.7em;
  background-color: #35020249;

  padding: 1em;

  & > * {
    filter: brightness(0.5);
  }
}
