@use '../../styles/mixins' as mixins;

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  margin-top: auto;
  column-gap: 6em;
  row-gap: 2em;
  padding: 2em;

  @include mixins.responsive('xxs') {
    padding: 1em 0.5em;
  }
}

.linksList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2.7em;
}

.linkItem {
}

.buttonLink {
  font-size: clamp(1em, 2vw, 1.5em);
  padding: 1.25em 0;
  width: 21.1em;

  @include mixins.responsive('xl_2') {
    font-size: 1em;
  }

  @include mixins.responsive('lg') {
    font-size: clamp(0.84em, 3.6vw, 1.5em);
  }
}

.mailContainer {
  font-size: clamp(0.5em, 2vw, 1em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2.1em;
  align-self: center;
  padding: 2em;
  border: 2px solid;
  text-align: center;
  font-style: normal;

  @include mixins.responsive('xl_2') {
    font-size: 1em;
  }

  @include mixins.responsive('lg') {
    font-size: clamp(0.84em, 3.6vw, 1em);
  }
}

.mailTitle {
  font-size: 1.5em;
}

.mail {
  text-decoration: underline;
  transition: color 0.1s linear;

  &:hover {
    color: #d10404;
  }

  &:focus-visible {
    outline: 2px solid #d10404;
    outline-offset: 5px;
  }
}
