.main {
  padding-bottom: 240px;
}

.buttonsContainer {
  display: flex;
  column-gap: 300px;
  justify-content: center;
  margin: 550px 0;
  align-content: center;

  .button {
    width: 12em;
  }
}
