.footer {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.linksList {
  display: flex;
  align-items: center;
  column-gap: 100px;
}

.linkItem {
}

.link {
  text-decoration: underline;
  &:hover {
    color: #d10404;
  }
}
