@use '../../styles/mixins' as mixins;

.footer {
  display: flex;
  justify-content: center;
  padding: 1.67em 1em;
}

.linksList {
  display: flex;
  align-items: center;
  column-gap: 4.17em;
  row-gap: 2em;

  @include mixins.responsive('sm') {
    column-gap: 2em;
  }

  @include mixins.responsive('xs') {
    flex-direction: column;
  }
}

.linkItem {
}

.link {
  text-decoration: underline;
  &:hover {
    color: #d10404;
  }

  &:focus-visible {
    outline: 2px solid #d10404;
    outline-offset: 5px;
  }
}
