.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d10404;
  padding: 45px 75px;
}

.title {
  font-size: 1.5em;
  text-decoration: underline;
}

.navigation {
  display: flex;
  align-items: center;
}

.linksList {
  display: flex;
  align-items: center;
  column-gap: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.linkItem {
}

.link {
}
