.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d10404;
  padding: 45px 75px;
}

.title {
  font-size: 1.5em;
  text-decoration: underline;
}

.navigation {
  display: flex;
  align-items: center;
}

.linksList {
  display: flex;
  align-items: center;
  column-gap: 100px;
}

.linkItem {
}

.link {
  &:hover {
    color: #d10404;
  }

  &:focus-visible {
    outline: 2px solid #d10404;
    outline-offset: 4px;
  }
}
