.hero {
  font-size: clamp(0.8em, 6.3vw, 8em);
  padding: 0.6em 0.2em;
}

.message {
  display: inline-block;
  position: relative;
  font-size: inherit;
  left: 1em;

  &::before {
    position: absolute;
    transform: translate(-100%);
    content: '>';
  }

  &::after {
    content: '_';
    position: absolute;
    transform: translate(10%, -0.05em);
    bottom: 0;
    animation: blinkCaret 1s step-end infinite;
  }
}

.animatedMessage {
  display: inline-block;
}

.accent {
  color: #800202;

  animation: 0.3s ease-in-out 1.1s forwards animateShadow;
}

.typewriterEffect {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(22, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkCaret {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes animateShadow {
  0% {
    text-shadow: 0em 0em #d10404;
  }
  100% {
    color: #00000063;
    text-shadow: 0.05em 0.05em #d10404;
  }
}
