.hero {
  font-size: 8em;
  padding: 0.6em 0.2em;
}

.message {
  font-size: inherit;
}

.accent {
  // Вариант 1:
  color: #00000063;
  text-shadow: 0.05em 0.05em #d10404;
  // Вариант 2:
  // text-shadow: 0.05em 0.05em rgb(209, 4, 199);

  // animation: 0.3s ease-in-out 0s forwards animateShadow;
}

// @keyframes animateShadow {
//   0% {
//     text-shadow: 0em 0em rgb(209, 4, 199);
//   }
//   100% {
//     text-shadow: 0.05em 0.05em rgb(209, 4, 199);
//   }
// }
