@use '../../styles/mixins' as mixins;

.main {
  margin-top: auto;
  padding: 2em;

  @include mixins.responsive('xxs') {
    padding: 1em;
  }
}

.linksList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6em;
  row-gap: 2.7em;

  // Нечётные дочерние элементы
  & > :nth-child(odd) {
    justify-self: flex-end;
  }

  & > :nth-child(even) > .buttonLink {
    align-self: flex-start;
    box-shadow: 0.2083em 0.2083em #d10404;

    &:hover,
    &:focus-visible {
      box-shadow: 0.2083em 0.2083em #830707;
    }
  }

  @include mixins.responsive('lg') {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > :nth-child(odd) {
      justify-self: unset;
    }

    & > :nth-child(even) > .buttonLink {
      align-self: unset;
      box-shadow: -0.2083em 0.2083em #d10404;

      &:hover,
      &:focus-visible {
        box-shadow: -0.2083em 0.2083em #830707;
      }
    }
  }
}

.linkItem {
}

.buttonLink {
  font-size: clamp(1em, 2vw, 1.5em);
  padding: 1.25em 0;
  width: 21.1em;

  @include mixins.responsive('xl_2') {
    font-size: 1em;
  }

  @include mixins.responsive('lg') {
    font-size: clamp(0.84em, 3.6vw, 1.5em);
  }
}
